In [1]:
import numpy as np
import pandas as pd

In [2]:
#there are 2 types 1.Series,2.DataFrames, #Dataframes ar miniseries

In [3]:
#SERIES

In [4]:
list_1=[12,23,34,45]

In [5]:
pd.Series(list_1)

0    12
1    23
2    34
3    45
dtype: int64

In [6]:
pd.Series(list_1,["a","b","c","d"])

a    12
b    23
c    34
d    45
dtype: int64

In [7]:
labels=["one","two","three","four"]

In [10]:
pd.Series(list_1,labels)

one      12
two      23
three    34
four     45
dtype: int64

In [11]:
pd.Series(data=list_1,index=labels)

one      12
two      23
three    34
four     45
dtype: int64

In [12]:
#From numpy Arrays

In [13]:
arr=np.arange(10,14)

In [14]:
pd.Series(arr)

0    10
1    11
2    12
3    13
dtype: int32

In [15]:
pd.Series(arr,labels)

one      10
two      11
three    12
four     13
dtype: int32

In [16]:
#From Dictionaries

In [17]:
dict_1={"a":12,"b":23,"c":34,"d":45}

In [18]:
pd.Series(dict_1)

a    12
b    23
c    34
d    45
dtype: int64

In [19]:
pd.Series(dict_1,["b","d","c","a"])

b    23
d    45
c    34
a    12
dtype: int64

In [20]:
pd.Series([print,sum,len,max,min])

0    <built-in function print>
1      <built-in function sum>
2      <built-in function len>
3      <built-in function max>
4      <built-in function min>
dtype: object

In [22]:
ser1=pd.Series(list_1)
ser1

0    12
1    23
2    34
3    45
dtype: int64

In [24]:
ser1[2]

34

In [26]:
ser1.dtype

dtype('int64')

In [27]:
ser1.index

RangeIndex(start=0, stop=4, step=1)

In [28]:
ser1.values

array([12, 23, 34, 45], dtype=int64)

In [29]:
ser1.array

<PandasArray>
[12, 23, 34, 45]
Length: 4, dtype: int64

In [30]:
pd.Series(5,labels)

one      5
two      5
three    5
four     5
dtype: int64

In [36]:
2 in ser1

True

In [40]:
ser1.get(3) #value correspond to the label 3

45

In [41]:
ser1.get(6,np.nan)

nan

In [42]:
ser1.mean()

28.5

In [43]:
m=ser1>40

In [44]:
ser1[m]

3    45
dtype: int64